@page "/"
@page "/search"
@implements IDisposable

<PageTitle>Will Baldoumas | Blog</PageTitle>

<HeadContent>
    <meta name="description" content="My blog home page, where I can document my thoughts and learnings over time.">
</HeadContent>

<div class="container-wrapper">
    <div class="container mb-5">
        @if (Posts is not null)
        {
            <div class="text-center mb-3">
                <input type="search" class="form-control rounded" placeholder="Search..." aria-label="search" aria-describedby="search-button" value="@query" @oninput="HandleSearchInput">
            </div>
            <div class="row g-3 d-flex align-items-stretch">
                @foreach (var post in GetSearchedPosts(Posts))
                {
                    <div class="col-12 col-lg-4">
                        <div class="card rounded border-0 h-100 shadow">
                            <a class="card-link" href="@($"post/{post.Slug}")">
                                <img src=@post.Image.ImgixUrl loading="lazy" class="card-img-top rounded" alt="post hero"/>
                            </a>
                            <div class="card-body rounded d-flex flex-column">
                                <a class="card-link" href="@($"post/{post.Slug}")">
                                    <h5 class="card-title">@post.Title</h5>
                                </a>
                                <h6 class="card-subtitle text-light">@post.DatePublished.ToPreformattedString() · @post.ReadingTime.Minutes minute read</h6>
                                <p class="card-text mt-2">
                                    <TagsDisplay Tags=@post.DisplayTags.Value></TagsDisplay>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
    <BlogFooter/>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "q")]
    public string query { get; set; } = string.Empty;

    private IEnumerable<Post>? Posts { get; set; }

    private PersistingComponentStateSubscription _persistingComponentStateSubscription;

    private void HandleSearchInput(ChangeEventArgs args)
    {
        query = args.Value?.ToString() ?? string.Empty;

        var path = string.IsNullOrEmpty(query) ? "/" : $"/search?q={HttpUtility.UrlEncode(query)}";

        NavigationManager.NavigateTo(path);
    }

    protected override async Task OnInitializedAsync()
    {
        _persistingComponentStateSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        var posts = await PostApplicationStateService.GetAsync(ApplicationState, Post.Key);

        Posts = PostLinker.Link(posts).ToList();

        if (!string.IsNullOrWhiteSpace(query))
        {
            // If the user added a query string manually to the URL, redirect them to the search page.
            if (!NavigationManager.ToBaseRelativePath(NavigationManager.Uri).StartsWith("search"))
            {
                var path = $"/search?q={query}";

                NavigationManager.NavigateTo(path);
            }

            query = HttpUtility.UrlDecode(query);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) => await JSInteropService.ResetScrollPositionAsync();

    private IEnumerable<Post> GetSearchedPosts(IEnumerable<Post> posts)
    {
        return string.IsNullOrEmpty(query)
            ? posts
            : posts.Where(post =>
            {
                return post.Title.Contains(query, StringComparison.OrdinalIgnoreCase) ||
                       post.DisplayTags.Value.Any(tag => tag.Contains(query, StringComparison.OrdinalIgnoreCase)) ||
                       post.Content.Contains(query, StringComparison.OrdinalIgnoreCase);
            });
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(Post.Key, Posts);

        return Task.CompletedTask;
    }

    public void Dispose() => _persistingComponentStateSubscription.Dispose();
}
